<!--Her skal man kunne tilføje venner-->
<!doctype html>
{% extends 'base.html' %}
{% block title %}Add Friend{% endblock %}

{% block css %}
<style>
    .table-responsive {
        max-height:300px;
}
</style>
{% endblock %}
        

{% block content %}
    <div class="text-center">
        <h1>Block Friends<h1>
    </div>

    <div class="row align-items-start table-responsive">
        <div class="col-5">.</div>
        <div class="col-2">
        <table class="table table-hover border">
            <thead>
                <th scope="col"> Friends </th>
            </thead>
            <tbody>
                {% for friend in friends %}
                    <tr>
                        <td>{{friend.username}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <div>
    </div>


{% endblock %}
