{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h1 class="text-center">Hi {{ user.username }}!</h1>
<p class="fs-1 text-center">Welcome To Online Wordle</p>
  <div class="container text-center">
      <h4>To start, access the menu found on the top left. To view results from previous games, navigate to the profile page on the top right</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id metus eget eros varius ultricies. Nullam interdum sem vel ante ultricies suscipit. Mauris vitae viverra leo, a pellentesque lacus. Pellentesque iaculis ante et tortor eleifend mattis. Morbi nec leo feugiat, venenatis lectus id, hendrerit ante. Cras in suscipit velit. Sed consectetur vitae leo nec egestas. Donec accumsan molestie risus quis vehicula. Cras ultricies urna non felis finibus luctus eget at enim. Integer in pulvinar odio. Morbi porttitor bibendum erat in hendrerit. Cras rutrum elit quis feugiat ultrices. Phasellus diam purus, molestie ac dignissim vitae, rhoncus id dui. In eu massa sit amet sem ultricies fermentum vitae at dolor. Etiam tristique vel elit ornare condimentum.

Nam fringilla, est in lacinia scelerisque, dui turpis aliquet mauris, nec vulputate enim augue sed risus. Quisque sapien erat, bibendum eget nisi a, condimentum porta augue. Duis ultrices laoreet velit, id aliquet est imperdiet pellentesque. Integer ligula est, porta elementum ultricies eu, lacinia eget elit. Sed ullamcorper lectus vitae mattis pharetra. Nulla vel ullamcorper quam, vitae dignissim mauris. In hac habitasse platea dictumst. Aliquam vestibulum in felis vel tristique. Etiam iaculis nisl eu leo molestie dignissim. Nulla non ultricies orci. Vestibulum a purus accumsan, accumsan nisi eget, dictum urna. Nam suscipit magna et mi congue, nec fermentum magna venenatis. Nam vel vehicula ante. Morbi malesuada odio euismod, viverra dolor id, finibus arcu. Aliquam tincidunt pharetra diam sed malesuada. Fusce convallis nisl vel nibh convallis commodo.

Ut ut quam vitae mi dignissim mattis. Duis in metus tortor. Sed et tristique ante, ac vestibulum est. Curabitur id ornare urna. Nunc pulvinar sem nulla, sit amet congue magna eleifend ac. Pellentesque quis posuere nulla, non vehicula tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas dignissim, ante et hendrerit rhoncus, nisl orci scelerisque tellus, quis tempor dolor odio nec urna. Ut lacinia finibus ipsum sed consectetur. Ut sed tellus a felis gravida fringilla.

In viverra arcu lorem, eget egestas magna porttitor vel. Donec eget turpis suscipit, ullamcorper leo pellentesque, iaculis dui. Nulla eget sagittis est. Ut efficitur, metus vitae mollis eleifend, risus dolor suscipit ante, non lobortis erat mauris ut orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas bibendum tellus sed lorem commodo cursus. Aliquam consequat lacinia enim quis consectetur. Aliquam condimentum in lectus eu hendrerit. Suspendisse id nulla semper, egestas mi ac, cursus elit. Mauris cursus eget urna a pulvinar. Vivamus malesuada eros a sapien condimentum mattis. Vivamus et commodo lectus. Fusce ultricies neque eget viverra viverra.

</p>
  </div>

 
  


{% else %}
<div class="fs-1 text-center">
  <p>You are not logged in</p>
</div>
<div class="row m-0">
  <div class="col">
    <a href="{% url 'login' %}" class="btn btn-primary float-end m-3">Log In</a>
  </div>
  
  <div class="col"><p><a href="{% url 'signup' %}" class="btn btn-secondary float-start m-3">Create User</a><p></p></div>
  
  </div>
{% endif %}

  

{% endblock %}
